body {
  font-family: 'Kanit', sans-serif;
  background: #f7f7f7;
}

.register-container {
  width: 350px;
  margin: 100px auto;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 95%;
  padding: 10px;
  background-color: #b30000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #800000;
}
